{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-5">
        <h3>Create a comment for {{ comment.post.title }}</h3>
        <form class="mt-3" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>{{ form.comment.label }}</label>
                {{ form.comment }}
                {% if not form.comment.errors %}
                    <small class="text-muted ml-2">
                      Be specific, be smart.
                    </small>
                {% else %}
                    {% for error in form.comment.errors %}
                        <small class="text-danger ml-2">{{ error }}</small>
                    {% endfor %}
                {% endif %}
            </div>
            <button type="submit" class="btn btn-secondary mb-3">Create</button>
        </form>
    </div>
{% endblock %}