{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Warning!</h4>
            <p>Are you sure you want to delete "{{ post.title }}"?</p>
            <hr>
            <p class="mb-0">
                By removing this post all of its comments will also be removed.
                Consider yourself warned.
            </p>
            <form method="post" class="mt-3">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Confirm">
            </form>
        </div>
    </div>
{% endblock %}