{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'forum/css/rule_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">{{ rule.name }}</h1>
                <p class="lead">{{ rule.description }}</p>
                <p class="lead">{{ rule.sanction }}</p>
            </div>
        </div>
    </div>
{% endblock %}