{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-5">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>{{ form.email.label }}</label>
                {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                {% else %}
                    <small class="form-text text-muted">For security reasons error messages will not be
                        displayed.</small>
                {% endif %}
            </div>
            <button class="btn btn-secondary">Submit</button>
        </form>
    </div>
{% endblock %}