{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-5">
        {% if validLink %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>{{ form.new_password1.label }}</label>
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                        {% for error in form.new_password1.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                    {% else %}
                        <small class="form-text text-muted">{{ form.new_password1.help_text }}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>{{ form.new_password2.label }}</label>
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                    {% else %}
                        <small class="form-text text-muted">Enter your new password again!</small>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-secondary">Change</button>
            </form>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error!</h4>
                <p>
                    The redirect url you used to reset your password either expired or is incorrect.
                    Please submit your email once again and this time make haste!
                </p>
                <hr>
                <p class="mb-0">If this problem persists contact support.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}