.card {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-family: sans-serif;
  height: 200px;
  margin: 20px auto;
  width: 350px;
  border-radius: 25px;
  position: relative;
  top: 0;
  transition: ease 0.5s;
}

.card:hover {
  top: -10px;
}

.front {
  background-color: #222222;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.front .content {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 65px;
}
.front .company-info p {
  letter-spacing: 1.25px;
  word-spacing: 1px;
}
.front .logo {
  margin-left: 5px;
  margin-right: 10px;
}
.front .logo p {
  font-weight: 900;
  font-size: 50px;
  margin-top: 5px;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.back .personal-info {
  margin-bottom: 20px;
}
.back .personal-info h1 {
  font-size: 20px;
}
.back .personal-info .title {
  margin-top: -10px;
}
.back .contact-info {
  font-size: 11px;
  color: #c0c0c0;
}
.back .contact-info p {
  margin-top: 5px;
  margin-bottom: 0px;
}
